<form (ngSubmit)="handleAdd(taskForm)" #taskForm="ngForm">
  <mat-form-field>
    <input [(ngModel)]="model.headline" name="headline" #headline="ngModel" required matInput placeholder="Заголовок" />
    <mat-error *ngIf="headline.invalid && (headline.dirty || headline.touched) && headline.errors.required"
      >Заголовок является обязательным</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <input
      [(ngModel)]="model.deadline"
      name="deadline"
      #deadline="ngModel"
      required
      matInput
      [matDatepicker]="picker"
      readonly
      placeholder="Срок"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="deadline.invalid && (deadline.dirty || deadline.touched) && deadline.errors.required"
      >Срок является обязательным</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <textarea
      [(ngModel)]="model.description"
      name="description"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="8"
      placeholder="Описание"
    ></textarea>
  </mat-form-field>
  <div><button type="submit" [disabled]="!taskForm.form.valid" mat-button color="primary">Сохранить</button></div>
</form>
