<form (ngSubmit)="handleSubmit()" #taskForm="ngForm">
  <mat-form-field>
    <input [(ngModel)]="model.headline" name="headline" matInput placeholder="Заголовок" />
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="model.deadline" name="deadline" matInput [matDatepicker]="picker" readonly placeholder="Срок" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <textarea
      [(ngModel)]="model.description"
      name="description"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="8"
      placeholder="Описание"
    ></textarea>
  </mat-form-field>
  <div class="task-form-buttons">
    <!-- TODO [disabled]="!taskForm.form.valid" -->
    <button type="submit" mat-button color="primary">Сохранить</button>
  </div>
</form>
