.container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks {
  width: 50%;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
