<mat-list-item class="task-list-item" [ngClass]="getCssClasses()">
  <a class="task-list-item__text" matLine routerLink="/task/{{task.id}}">
    <h3 class="task-list-item__headline">{{ task.headline }}</h3>
    <p class="task-list-item__deadline">{{ task.deadline | date }}</p>
  </a>
  <div class="task-list-item__buttons">
    <button class="task-list-item__button" mat-icon-button [hidden]="last" (click)="handleMove('down')">
      <mat-icon aria-label="Вниз">arrow_downward</mat-icon>
    </button>
    <button class="task-list-item__button" mat-icon-button [hidden]="first" (click)="handleMove('up')">
      <mat-icon aria-label="Вверх">arrow_upward</mat-icon>
    </button>
    <button class="task-list-item__button" mat-icon-button (click)="handleDelete()">
      <mat-icon aria-label="Удалить">delete</mat-icon>
    </button>
  </div>
</mat-list-item>
