@import '~@angular/material/theming';

@mixin app-task-list-item-component-theme($theme) {
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  app-task-list-item {
    .task-list-item {
      &_deadline-passed {
        .task-list-item__text {
          color: mat-color($warn);
        }
      }
      &_deadline-coming {
        .task-list-item__text {
          color: mat-color($primary);
        }
      }
    }
  }
}
